@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Exo+2:ital,wght@1,900&family=Merienda:wght@900&family=Mulish:wght@600&family=Noto+Sans:ital,wght@1,900&family=Poppins:ital,wght@0,300;0,700;1,500&family=Signika:wght@700&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor :default;
  font-family: 'Mulish', sans-serif;
}



img {
  width: 62px;
}


.center-align {
  text-align: center;
}

.black-bg {
  background: black;

}

.white-bg {
  background: white;

}

.primary-bg {
  background: #B05FFD;

}

.h1-hero {
  color: white !important;
  font-size: 48px;
  text-align: center;
  font-weight: bold;


  @media screen and (max-width: 768px) {
    font-size: 40px;
  }

  @media screen and (max-width: 480px) {
    font-size: 32px;
  }

}

.hero-text {
  color: #fff !important;
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
}

.logo-text-copy {
  font-size: 15px;
}

.img-wrap {
  height: 100%;
  max-width: 700px;
  margin: auto;

}

.fit-img {
  width: 100%;
}

.expand-row {
  width: 100%;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.gray-text {
  color: gray;
}

.pl {
  padding-left: 20px;
}

.pr {
  padding-right: 20px;
}

.pt-10 {
  margin-top: 100px;
}


/* Testimonials */

.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 1% !important;
}

.carousel .slide {
  color: rgb(254, 251, 251);
  height: 100%;

}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;

}

.myCarousel {

  margin-top: -6%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 100px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
  color: #06ff0e !important;
}

.myCarousel h3 {
  padding-top: 22px;
  color: wheat;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: rgb(239, 158, 7);
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
  padding-bottom: 10px !important;
}

.myCarousel p:before {
  content: "“";
  color: #06ff0e;
  font-size: 26px;
  margin-right: 5px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #06ff0e;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  margin-left: 5px;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #03f5c1 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}



@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }

  .myCarousel {

    margin-top: -6%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    height: 270px;
    border-radius: 5px;
    margin-bottom: 80px;

  }

  .carousel .slide img {
    margin-top: 30px;
    width: 30% !important;
    border-radius: 50%;
  }
}



/* Office Experience */

#counter {
  color: #fff;
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 25px 0;
  padding-top: 50px;
  background: linear-gradient(to right,#009245  , #02AABD );
}

#counter .count {
  padding: 50px;
  color: #fff;
  text-align: center;
  border : 2px solid rgb(253, 252, 250);
  background: linear-gradient(to right, #FF512F, #DD2476);
  border-radius: 10px;  
}

.count h4 {
  color: #fff;
  font-size: 13px;
  margin-top: 0;
  margin-top: 15px;
}

#counter .number {
  font-size: 15px;

  font-weight: 700;
  margin: 0;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #ff0000; 
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease;
}




/* Blog Style */


#blog {
  color: #fff;
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 25px 0;
  padding-top: 50px;
  background: #fff;
}